.client-entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.search-box {
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 10px;
  border: 1px solid grey;
}

.search-box:focus {
  outline: none;
}

.client-entries-box {
  height: 75vh;
  width: 90vw;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 13px 0px 20px;
  overflow: auto;
  padding-top: 50px;
  scrollbar-color: transparent transparent;
  margin-top: -30px;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.client-one {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 241, 241);
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: rgb(80, 80, 80);
  padding-top: 15px;
  padding-bottom: 5px;
  width: 130px;
}
.client-one:hover {
  cursor: pointer;
  background-color: rgb(119, 119, 119);
}

.client-icon {
  height: 50px;
  width: 50px;
}

.nice {
  margin-top: -30px;
}

.margins-bottom {
  margin-bottom: 50px;
  margin-top: 10px;
}
